@charset "utf-8";

/*
	ITD212 Interactive Web Design
	Development Assignment 1

	Author: Alissa Hardison
	Date: 07 November 2019
  
	Filename: hardison_dev1_main_styles.css
	
	This file contains the styles for hardison_dev1_main.html
*/

/* ---TITLE STYLES--- */
div#content h1 {
	display: block;
	text-align: center;
	font-size: 3.2em;
	font-family: serif;
	color: #FFEA69;	
	
}

/* ---IMAGE STYLES--- */
div#content img {
	display: block;
	width: 50%;
	margin: 10px auto;
}